@model ModelsDefault.Order

@{
    ViewData["Title"] = "ViewOrder";
}

<h1>ViewOrder</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.store)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.store)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.custId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.custId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
